/* .title-box {
    position: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.title-box h1, h2, h3 {
    text-align: center;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
}

h4 {
    line-height: normal;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #000;
}

a {
    text-decoration: none;
    color: gray;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}



.title {
    margin: 0;
}

.subtitle {
    font-weight: 100;
}

.project {
    position: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} */